/* Icons
========================================================================== */
$img-root: '/assets';

// icon
@mixin icon-base {
  display: inline-block;
  padding: 0;
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
}

.icon {
  @include icon-base;
}

// icon 경로
@mixin icon($name, $bg-width: null, $bg-height: null) {
  @include icon-base;
  background-image: url(icon-path($name));

  $w: if($bg-width == null, 100%, $bg-width);
  $h: if($bg-height == null, 100%, $bg-height);

  background-size: $w $h;
}
